{% extends 'layouts/base.twig' %}

{% block content %}
<div class="dashboard">
    <h1>hallo, {{ user.name }}!</h1>
    
    <div class="points-card" style="background: #f4f4f4; padding: 20px; border-radius: 10px;">
        <h3>tes points :</h3>
        <p style="font-size: 2em; color: green; font-weight: bold;">
            {{ user.total_points }} point
        </p>
    </div>
 
</div>
{% endblock %}